body {
  margin: 0px;
  padding: 0px;
}

.nav-menu {
  z-index: -1000;
}

.mdc-card-content {
  padding: 16px;
}

.game-card {
  padding: 16px;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
  position: absolute;
}

#main-content {
  background-image: url("./img/curls.png");
  background-attachment: fixed;
  background-repeat: repeat;
}
