body {
  margin: 0px;
  padding: 0px;
  overflow:hidden;
}

.nav-menu {
  z-index: -1000;
}

.mdc-card {
  background-color: rgb(24, 26, 27);
}

.mdc-typography {
  color: white;
}

.mdc-card-content {
  padding: 16px;
}

.coming-soon-card {
  opacity: .5;
}

.tba-card {
  opacity: .1;
}

.game-card {
  padding: 16px;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
  position: absolute;
}

.mdc-layout-grid__inner {
  background-image: url("./img/double-bubble-dark.png");
  background-attachment: fixed;
  background-repeat: repeat;
}

#main-content {
  background-image: url("./img/double-bubble-dark.png");
  background-attachment: fixed;
  background-repeat: repeat;
}

@media only screen and (max-width: 840px) {
  .spacer-cell {
    display:none;
  }
}


